include README.md
include LICENSE
include config.json.example
recursive-include templates *.docx
recursive-include IAK_Report *.txt
exclude data/
exclude .venv/
exclude .git/
exclude __pycache__/
exclude *.log
